<div class="jumbotron jumbotron-fluid jumbotron-au">
  <div class="aboutUs-text">
    <h1 class="aboutUs-header">About Us</h1>
    <span class="aboutUs-subText">We focus on building engineering partnerships with our clients. At Boman, we evolve in lockstep with you to meet your most demanding engineering issues. We can make the technological machining investments necessary for your products to be produced efficiently and cost effectively.</span>
  </div>
</div>

<div class="aboutUs-container">
  <div class="team-header">
    <h1>Meet the Team</h1>
    <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("bird.jpg",  alt: "Alan", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Alan Godman</h5>
          <p class="card-text"><small class="text-muted">President, CEO</small></p>
          <p class="card-text">In 1994 Alan assumed ownership of Boman Tool upon his father's retirement. He directed the company toward the future – computer controlled machinery and the new, Boman Precision Technologies was born.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("sailboat.jpg",  alt: "Mike", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Michael Richmond, BSME</h5>
          <p class="card-text"><small class="text-muted">Senior Production Engineer</small></p>
          <p class="card-text">Mike is a graduate of NYU Polytechnic. With five years of experience in design and production his focus is on our Cincom Swiss machines and supervising production. When not programming he can be found building beautiful wooden boats.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("tent.jpg",  alt: "Donna", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Donna Rhoads-Frost, MSc</h5>
          <p class="card-text"><small class="text-muted">Director of Operations</small></p>
          <p class="card-text">Donna combines 20 years of project management and operational experience in the aviation, environmental and educational fields to grow Boman’s Advanced Manufacturing footprint. Her expertise includes analytical analysis and optimization. She is also developing a STEM internship program at Boman.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("shane.jpg",  alt: "Shane", class: "card-img-top flip-image") %>
        <div class="card-body">
          <h5 class="card-title">Shane Veras</h5>
          <p class="card-text"><small class="text-muted">Production Coordinator</small></p>
          <p class="card-text">Shane’s mechanical and organizational experience is supporting production and QA/QC operations. He is pursuing a degree in aeronautical engineering.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("marcus.jpg",  alt: "Marcus", class: "card-img-top flip-image") %>
        <div class="card-body">
          <h5 class="card-title">Marcus Chadwick</h5>
          <p class="card-text"><small class="text-muted">Senior Production Technician</small></p>
          <p class="card-text">Marcus is a graduate of The Sound School in New Haven and an EMT. His experience in team building is being used to build and refine our Miyano production department.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("linus.jpg",  alt: "Linus", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Linus</h5>
          <p class="card-text"><small class="text-muted">Morale Officer</small></p>
          <p class="card-text">Easily the best looking boy on the team. Linus has been with us for 2 years and he keeps spirits high!</p>
        </div>
      </div>
    </div>
  </div>
</div>



















