<div class="jumbotron jumbotron-fluid jumbotron-au">
  <div class="aboutUs-text">
    <h1 class="aboutUs-header">About Us</h1>
    <span class="aboutUs-subText">We focus on building engineering partnerships with our clients.  At Boman, we evolve in lockstep with you to meet your most demanding engineering issues.  We can make the technological machining investments necessary for your products to be produced efficiently and cost effectively.</span>
  </div>
</div>

<div class="aboutUs-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/replace_me.jpg",  alt: "Allen", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Alan Godman</h5>
          <p class="card-text"><small class="text-muted">President, CEO</small></p>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/replace_me.jpg",  alt: "Mike", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Michael Richmond</h5>
          <p class="card-text"><small class="text-muted">Senior Production Engineer</small></p>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/replace_me.jpg",  alt: "Donna", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Donna L. Rhoads, MS</h5>
          <p class="card-text"><small class="text-muted">Director of Operations</small></p>
          <p class="card-text">Text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/shane.jpg",  alt: "Shane", class: "card-img-top flip-image") %>
        <div class="card-body">
          <h5 class="card-title">Shane Veras</h5>
          <p class="card-text"><small class="text-muted">Production Engineer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/marcus.jpg",  alt: "Marcus", class: "card-img-top flip-image") %>
        <div class="card-body">
          <h5 class="card-title">Marcus Chadwick</h5>
          <p class="card-text"><small class="text-muted">Production Engineer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card aboutMe-card">
        <%= image_tag("/assets/linus.jpg",  alt: "Linus", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Linus</h5>
          <p class="card-text"><small class="text-muted">Moral Officer</small></p>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content. Lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>


















