<%= form_for @contact, url: create_contact_url do |f| %>
  <%= notice %>
  <%= @contact.errors.full_messages.join(', ') %>
    <div class="container">
      <div class="card-body">
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group col-md-6">
            <label>Phone</label>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label>Job Position</label>
          <%= f.text_field :job_position, class: 'form-control' %>
        </div>
     
        <div class="form-group">
          <label>Company Name</label>
          <%= f.text_field :company_name, class: 'form-control' %>
        </div>
      
        <div class="form-group">
           <%= f.text_area :body, placeholder: 'Give us your challenge!', class: 'form-control', rows: '10', maxlength: 450 %>
        </div>

        <div class="submit-btn display-inline-block">
          <span><%= f.submit 'Send', class: 'btn btn-primary' %></span>
          <span class="text-muted">450 Character limit</span>
        </div>
      </div>
    </div>

<% end %>
















