<div class="container">

  <div class="contact-header">
    <h1>Contact Us! <i class="far fa-handshake handshake"></i></h1>
    <p class="text-muted">We're happy to answer any of your questions and provide an estimate. Whether the requirement is one part or one hundred thousand, we can make it. Send us a challenge specifying the part details and any questions you might have!</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="contact-cards">
        <h3>Made In America.</h3>
        <hr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24009.193835996237!2d-73.09460691755655!3d41.218518335107234!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e874af6c0f7d6f%3A0x628fe866f5989806!2s67+Erna+Ave%2C+Milford%2C+CT+06461!5e0!3m2!1sen!2sus!4v1533431084498" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="contact-info">
          <h6>Phone:</h6>
          <%= number_to_phone "2036239119" %>
          <hr>

          <h6>Social:</h6>
          <div class="social-icons display-inline-block">
            <a href="https://www.facebook.com/Boman-Technologies-707644796260330/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/BomanTech" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="contact-cards">
        <h3>Give us a challenge!</h3>
        <hr>
        <%= form_for @contact, url: create_contact_url do |f| %>
        <p id="notice"><%= notice %></p>
        <p id="errors"><%= @contact.errors.full_messages.join(", ") %></p>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, class: 'control' %>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <%= f.text_field :email, class: 'control' %>
          </div>
          <div class="form-group col-md-6">
            <label>Phone</label>
            <%= f.text_field :phone, class: 'control' %>
          </div>
        </div>

        <div class="form-group">
          <label>Job Position</label>
          <%= f.text_field :job_position, class: 'control' %>
        </div>
     
        <div class="form-group">
          <label>Company Name</label>
          <%= f.text_field :company_name, class: 'control' %>
        </div>
      
        <div class="form-group">
           <%= f.text_area :body, placeholder: 'Describe your challenge!', rows: '10', maxlength: 450, class: 'control contact-textarea', id: 'contactBodyId' %>
        </div>

        <div class="submit-btn display-inline-block">
          <span><%= f.submit 'Send', class: 'btn btn-primary' %></span>
          <span id="characterCounter" class="text-muted"><span id="charsRemaining">450</span> Characters remaining</span>
        </div>
      </div>
    </div>

  </div>
</div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var count;

    function countCharacters(e) {
      var textEntered, countRemaining, counter;
      textEntered = document.getElementById('contactBodyId').value;
      counter = (450 - (textEntered.length));
      countRemaining = document.getElementById('charsRemaining');
      countRemaining.textContent = counter;
    }

    count = document.getElementById('contactBodyId');
    count.addEventListener('keyup', countCharacters, false);
  })
</script>
















